@model EmployeeCreateViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create new employee</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departement" class="control-label">Departement</label>
                <input asp-for="Departement" class="form-control" />
                <span asp-validation-for="Departement" class="text-danger"></span>
            </div>
            <br />
            <input asp-for="Photo" class="form-control" type="file" id="inputGroupFile01" multiple>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="/" class="btn btn-dark">Cancel</a>

            </div>
        </form>
    </div>
</div>

@section CreateSectionJs {
<script>
    $("#inputGroupFile01").on("change", function()
       {
          var input = $(this).val().split("\\").pop();
          $(".custom-file-label").html(input);
       });
</script>
 }


