@model EmployeeMangement.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";

}

<h1>Details</h1>

 
<table class="table" border="0">
    <thead>
        <th>Nom</th>
        <th>Email</th>
        <th>Departement</th>
    </thead>
    <tbody>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.Departement</td>
    </tbody>
</table>