@model EmployeeMangement.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    var ExistingPhotoPathName = "/Images/" + (Model.PhotoPath == null?"emp.png":Model.PhotoPath);

}

<h1>Details</h1>
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@Model.Name</div>
  <div class="card-body text-dark">
    <h5 class="card-title">@Model.Departement</h5>
    <p class="card-text">@Model.Email</p>
   <img src="@ExistingPhotoPathName" class="img-thumbnail">
    <a asp-action="Index" class="btn btn-secondary" >Back to list</a>
  </div>
</div>